<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Display Playlist:</title>
<style>
   body
   { 
      display: flex;
      align-items: center;
      justify-content: center;
      height:100vh;
      margin:0;
      flex-direction:column;
      background: olive;
   }
   table
   { 
      border-collapse: collapse;
      width: 80%;
      margin-top: 10px;
   }
   th,td
   { 
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
   }
   th
   { 
      background-color: #f2f2f2;
   }
   
</style>
</head>
<body>
   <h1>Display Playlist:</h1>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Songs</th>
            </tr>
      </thead>
      <tbody>
          <tr th:each="plist:${allPlaylists}">
          <td th:text="${plist.name}">   </td>
          <td>
          <ul>
             <li th:each="song:${plist.songs}">
             <span th:text="${song.name}"></span>
              <audio controls>
                 <source th:src="${song.link}" type="audio/mpeg">
             </audio>
             </li>
             </ul>
             </td>
          </tr>
      </tbody>
    </table>
</body>
</html>